.card-img-top {
  /*width: 100;*/
  height: 15vw;

  object-fit: cover;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  color: black;
}

#bill {
  width: 150px;
}

#padded {
  padding: 0px 15px 0px 15px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.small-logo {
  width: 30px;
}

@media screen and (max-width: 1100px) {
  .banner {
    width: 900px;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    width: 500px;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    width: 500px;
  }
}
.card-img-top {
  min-height: 300px;
}

.cards2 {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card2 {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 0.5rem;
}
